*.o
#*.a
#*.so

# flolder
.vscode
cservice
luaclib
logs
build.win64
build.linux64
run

*.dSYM
.DS_Store
*.log

rudptest.exe
rudptest.ilk
rudptest.pdb
sssltest.exe
sssltest.ilk
sssltest.pdb
strawberry.exe
strawberry.exp
strawberry.ilk
strawberry.lib
strawberry.pdb
kcptest.exe
kcptest.ilk
kcptest.pdb
